.overlay{
  position: relative;
  top: 0px;
  left: 0px;
  height: 655px;
  width: 1920px;
  background-color: $primary-color;
  opacity: 0.7;
}

@include media-breakpoint-down(xs) {
  .overlay {
    height: 655px;
  }
}

@include media-breakpoint-up(md) {
  .overlay {
    height: 655px;
  }
}

@include media-breakpoint-up(lg) {
  .overlay {
    height: 700px;
    width: 1195px;
  }
}

@include media-breakpoint-up(xl) {
  .overlay {
    height: 655px;
    width: 1920px;
  }
}
