.nav-link {
  color:$secondary!important;
  transition: 0.3s;
  text-transform: uppercase;
}
.nav-link:hover {
  color:$primary!important;
}

.dropdown-item {
  transition: 0.3s;
}

.dropdown-item:hover {
  background-color:$primary!important;
}