{% set item = __SELF__.item %}
{% if item.images|length > 0 %}
{% set image = item.images.first %}
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v6.0&appId=297141914583105&autoLogAppEvents=1"></script>
<section class="paralax-mf"
         style="background: url('{{ image.path }}');
         background-repeat: no-repeat;
         background-attachment: fixed;
         background-size: cover;
         background-position: center center;">
    <div class="overlay-dark-mf"></div>
        <div class="container py-5 my-5">
            <div class="row py-5 my-5">
                <div class="col text-center">
                    <h1 class="h1-responsive text-white header-var2">{{ item.title }}</h1>
                </div>
            </div>
        </div>
</section>
{% endif %}
<div class="container py-5">
    <div class="row">
        <div class="col-xs-12 col-lg-8 pb-4">
            <p>{{ item.description|raw }}</p>
            {% for image in item.images %}
                <img src="{{ image.path }}" class="img-fluid py-3" alt="{{ image.title }}">
            {% endfor %}
        </div>
        <div class="col-xs-12 col-lg-4">
            <div class="card text-white bg-primary mb-4">
                <div class="card-body">
                    <p class="card-text">
                        Catégorie : {{ item.category.name }}
                    </p>
                    <p class="card-text">
                       Date : {{ item.created_at| strftime("%d %B %Y") }}
                    </p>
                    {% if item.url %}
                    <p class="card-text">
                        <a href="{{ item.url }}" class="btn btn-default" target="_blank">Voir le projet</a>
                    </p>
                    {% endif %}
                    {% partial 'share' %}
                </div>
            </div>
            <div id="facebook-box" class="my-3">
                <div class="fb-page" style="width:100%;max-width:290px" data-href="https://www.facebook.com/Vert-Boh&#xe8;me-1089002674613879/"
                     data-tabs="timeline" data-width="" data-height="" data-small-header="false"
                     data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
                    <blockquote cite="https://www.facebook.com/Vert-Boh&#xe8;me-1089002674613879/"
                                class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/Vert-Boh&#xe8;me-1089002674613879/">
                        Vert Bohème</a></blockquote>
                </div>
            </div>
        </div>
    </div>
</div>
